:root {
  --brand-color: #6c63ff;

}


body {
  margin: 60px auto;
  max-width: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.coder{
background: var(--brand-color);
padding: 30px;
}


h1{
  font-family: 'Courgette', cursive;
  text-align: center;
}

.secondary-font{
  font-family: 'Archivo', sans-serif;
  text-align: center;
}

.pa-pic{
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.style-button{
border: solid;
background-color: white;
font-family: 'Archivo', sans-serif;
text-align: center;
font-size: 15px;

}