:root {
  --brand-color: radial-gradient(circle at 1.5% 2.8%, rgb(69, 237, 244) 23.2%, rgb(26, 243, 158) 45%, rgb(241, 78, 163) 93.1%);
  --secondary-font: (font-family: 'Archivo', sans-serif);
  --main-color:#25161b; 
  --secondary-color: #35013f;
}

body {
  margin: 60px auto;
  max-width: 100%;
}
.coder{
background: var(--brand-color);
padding: 30px;
}

.nav-text{
  font-family: var(--secondary-font);
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.coder-name{
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 55px;
  color: var(--main-color);
 
}

.index-text{
  font-family: var(--secondary-font);
  text-align: center;
  margin-bottom: 5px;
  color:  var(--secondary-color);
}

.pa-pic{
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.style-button{
border: solid 2px;
background-color:var(--secondary-color);
font-family: 'Archivo', sans-serif;
text-align: center;
font-size: 15px;
color: white;
margin: 20px 10px 10px 30px;
}

.style-button:hover{
border: solid 2px;
background-color:white;
color: var(--secondary-color);
}