:root {
  --brand-color: radial-gradient(circle at 1.5% 2.8%, rgb(69, 237, 244) 23.2%, rgb(26, 243, 158) 45%, rgb(241, 78, 163) 93.1%);
  --secondary-font: (font-family: 'Archivo', sans-serif);
  --main-color:#25161b; 
  --secondary-color: #35013f;
  --third-color: #F8F9FA;
}

.coder{
margin: 70px auto;
max-width: 100%;
background: var(--brand-color);
padding: 20px;
}

.nav-text{
  font-family: var(--secondary-font);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.coder-name{
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
  font-size: 55px;
  color: var(--main-color);
}

.index-text{
  font-family: var(--secondary-font);
  text-align: center;
  margin-bottom: 5px;
  color:  var(--secondary-color);
}

.pa-pic{
  max-width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.style-button{
border: solid 2px;
background-color:var(--secondary-color);
font-family: 'Archivo', sans-serif;
text-align: center;
font-size: 15px;
color: white;
margin: 20px 10px 10px 30px;
}

.style-button:hover{
border: solid 2px;
background-color:white;
color: var(--secondary-color);
}

.coder-tools{
  font-family: 'Courgette', cursive;
  text-align: center;
  margin:0 auto;
  padding-top: 15px;
  font-size: 50px;
  color: var(--main-color);
  background-color: var(--third-color);
  border: none;
  max-width: 100%;
}

.toolsDesign{
  background-color: var(--third-color);
  padding-top: 15px;
  padding-bottom: 20px;
}

.coder-links{
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-top: 28px;
  margin-bottom:0px;
  color: var(--main-color);
}

.gitLink, .netlifyLink{
  color:#feffdf;
}

.coder-contacts{
  text-align: center;
  font-family: var(--secondary-font);
  color:  var(--secondary-color);
  font-size: 20px;
}



@media (max-width: 576px) {
  .coder{
  margin: 0 auto;
  background: var(--brand-color);
  padding: 20px;
  }

 .coder-name {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom:5px;
  }

 .index-text {
    font-size: 22px;
    text-align: center;
  }

.coder-tools {
  text-align: center;
  font-size: 40px;
  }

  .tools-pic{
    height: 55px;
    padding: 5px; 
    margin-left: 40%;
  }

  .col-sm-1{
    max-width: min-content;
  }
}